<%= javascript_pack_tag 'formToNewOrder'%> 
<%= form_with(model: stock,class:"row g-3") do |form| %>
  <% if stock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stock.errors.count, "error") %> prohibited this stock from being saved:</h2>

      <ul>
        <% stock.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %> 
  <div class="col-md-12"> 
    <%= form.label 'Product',class:"form-label" %>   
    <%= form.collection_select :promotion_id, @products, :id, :description, class:"form-select", prompt: "Select something" %>
  </div>
  <div id="prod-details">
    <div class="col-12" id="tab-prom" style="display:flex;justify-content: space-between;"> 
      <div style="width:49%"> 
        <label class="form-label" >Promotion</label>  
        <input class="form-control" id="promotion-name" style="pointer-events:none;background: aliceblue;">  
      </div>
      <div style="width:49%"> 
        <label class="form-label" >Details</label>  
        <input class="form-control" id="promotion-min-amount" style="pointer-events:none;background: aliceblue;">  
      </div>
    </div>  
    <br>
    <div class="col-12" style="display:flex;justify-content: space-between;">
      <div style="width:49%">
        <%= form.label :amount, class:"form-label" %>
        <%= form.number_field :amount,class:"form-control", placeholder:"Chose the amount", min:1,value:"1" %> 
        <%= form.number_field :product_id,style:"display:none" %>
        <%= form.number_field :total_price,style:"display:none", step:"any" %>
        <%= form.text_field :origin,style:"display:none" %>
      </div> 
      <div style="width:49%"> 
        <label class="form-label" >Value of unit</label> 
        <input class="form-control" id="value-unit-product" style="pointer-events:none;background: aliceblue;"> 
      </div> 
    </div> 
    <br> 
    <div style="width:49%">
      <%= form.label :deliver_fee, class:"form-label" %>
      <%= form.number_field :deliver_fee,class:"form-control", placeholder:"R$ 0,00", step:"any", min:0.01 %>  
    </div>
    <hr>
    <br>
    <div style="display:flex;justify-content: space-between;">
      <div style="width:49%">
        <p style="font-size: 22px;font-weight: bold;">Total Value:</p>
      </div>
      <div style="width:49%">
        <p style="font-size: 18px;font-size: 15px;">
          <h5 style="text-align: center;"><span id="amount-size">0</span> x  R$ <span id="value-unit-product-note"></span> Unit.<br></h5>
          <h5 style="text-align: center;">1 x R$ <span id="deliver-fee">0</span> Deliver.</h5>
          <div id="promo-note">
            <hr>
              Sub'Total Price: <span id="sub-value-total" style="float: right;text-decoration: underline;"></span>
            <hr>
            <h5 style="text-align: center;"><span id="value-promo"></span> promotion.</h5>
          </div>
          <hr>
          Total Price: <span id="value-total" style="float: right;text-decoration: underline;"></span>
          </p>
      </div>
    </div>
  </div> 
  <div class="col-12" style="margin-bottom: 13px;"> 
    <%= form.submit class:"btn btn-primary", style:"float:right"%>
    
    <%= link_to 'Back', stocks_path, class:"btn btn-secondary"%>
  </div>  
<% end %> 
