
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid"> 
        <%= link_to "Stock's", root_path, class:"title" %>
        <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Order Number" aria-label="Search" name="id">
        <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>
<div class="container">
    <h1>List of Orders</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th> 
                <th scope="col">Price</th>
                <th scope="col">Deliver</th>
                <th scope="col">Method</th>
                <th scope="col" style="width: 7%;">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% @stocks.each do |stock| %> 
                <tr>
                    <th scope="row"><%= stock.number_order%></th>
                    <td><%= stock.total_price.round(2)%></td>
                    <td><%= stock.deliver_fee.round(2)%></td>
                    <td><%= stock.origin%></td>
                    <td style="text-align:center"><%= link_to stock do %><i class="fas fa-eye view-icon"></i><% end %></td>
                </tr> 
            <% end %>
        </tbody>
    </table>
    <%= paginate @stocks, style:"margin-left: auto;margin-right: auto;width: fit-content;" %>
    <div class="nav-btns"> 
        <div class="container">
            <%= link_to products_path, class:"btn-l" do %>
                <button type="button" class="btn btn-success "> PRODUCTS </button>
            <% end %> 
            <%= link_to promotions_path, class:"btn-r" do %>
                <button type="button" class="btn btn-primary"> PROMOTIONS </button>
            <% end %>
        </div>
    </div> 
</div>
<style> 
</style>