
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid"> 
        <%= link_to "Stock's", root_path, class:"title" %>
        <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Stock Number" aria-label="Search" name="id">
        <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th> 
                <th scope="col">Price</th>
                <th scope="col">Deliver</th>
                <th scope="col">Method</th>
            </tr>
        </thead>
        <tbody>
            <% @stocks.each do |stock| %>
                <tr>
                    <th scope="row"><%= stock.number_order%></th>
                    <td><%= stock.total_price%></td>
                    <td><%= stock.deliver_fee%></td>
                    <td><%= stock.origin%></td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <%= paginate @stocks, style:"margin-left: auto;margin-right: auto;width: fit-content;" %>
    <div class="nav-btns">
        <%= link_to products_path, class:"btn-l" do %>
            <button type="button" class="btn btn-success "> PRODUCTS </button>
        <% end %> 
        <%= link_to promotions_path, class:"btn-r" do %>
            <button type="button" class="btn btn-primary"> PROMOTIONS </button>
        <% end %>
    </div> 
</div>
<style>

.btn-l{ 
    float: left;
    margin-left: 81px;
}
.btn-r{ 
    float: right;
    margin-right: 81px;
} 
.nav-btns{ 
    bottom: 11px;
    position: fixed;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    align-items: center;
    text-align: center;
}
</style>