<%= form_with(model: promotion,class:"row g-3") do |form| %>
  <% if promotion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(promotion.errors.count, "error") %> prohibited this promotion from being saved:</h2>

      <ul>
        <% promotion.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-12">
    <%= form.label :name, class:"form-label" %>
    <%= form.text_field :name,class:"form-control", placeholder:"Name of promotion" %>
  </div> 
  
  <div class="col-12">
    <%= form.label :description, class:"form-label" %>
    <%= form.text_field :description,class:"form-control", placeholder:"Description for promotion" %>
  </div>  
  <div class="col-12">
    <%= form.label :min_amount, class:"form-label" %>
    <%= form.text_field :min_amount,class:"form-control", placeholder:"Number of min amount" %>
  </div>  
  <div class="col-12">
    <div class="form-check">
      <%= form.label 'Promotion Active?', class:"form-check-label" %>
      <%= form.check_box  :active, class:"form-check-input" %>
    </div>
  </div> 
  <div class="col-12" style="margin-bottom: 13px;"> 
    <%= form.submit class:"btn btn-primary", style:"float:right"%>
    <%= link_to 'Back', promotions_path, class:"btn btn-secondary"%>
  </div> 
<% end %>
