<nav class="navbar navbar-light bg-light">
    <div class="container-fluid"> 
        <%= link_to "Stock's", root_path, class:"title" %>
    </div>
</nav>
<div class="container">
  <h1>Promotions</h1>
  <table class="table">
    <thead>
      <tr>
          <th scope="col">#</th> 
          <th scope="col">Name</th>
          <th scope="col">Active</th>
      </tr>
    </thead>
    <tbody> 
      <% @promotions.each do |promotion| %>
        <tr>
          <td><%= promotion.id %></td>
          <td><%= promotion.name %></td>
          <td><%= promotion.active %></td>
          <td><%= link_to 'Show', promotion %></td>
          <td><%= link_to 'Edit', edit_promotion_path(promotion) %></td>
          <td><%= link_to 'Destroy', promotion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Promotion', new_promotion_path, class:"btn btn-primary", style:"float:right" %>
</div>