<nav class="navbar navbar-light bg-light">
    <div class="container-fluid"> 
        <%= link_to "Stock's", root_path, class:"title" %>
    </div>
</nav>
<div class="container"> 
    <h1><%= I18n.t 'actions.show'%> <%= I18n.t 'activerecord.models.promotion.one'%></h1> 
  <div class="col-12"> 
    <label class="form-label"><%=I18n.t 'activerecord.attributes.promotion.name'%></label>
    <input class="form-control" placeholder="<%= @promotion.name %>" readonly="readonly" >
  </div> 
  <br>
  <div class="col-12">
    <label class="form-label"><%=I18n.t 'activerecord.attributes.promotion.description'%></label>
    <input class="form-control" placeholder="<%= @promotion.description %>"  readonly="readonly" >
  </div>  
  <br>
  <div class="col-12">
    <div class="form-check">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck" <%= 'checked' if @promotion.active == true %> style="pointer-events:none">
        <label class="form-check-label" for="gridCheck">
          <%=I18n.t 'activerecord.attributes.promotion.active'%>
        </label>
      </div>
    </div>
  </div>  
  <br><br>
  <div class="container">
    <%= link_to "#{I18n.t 'actions.edit'}", edit_promotion_path(@promotion), class:"btn btn-primary", style:"float:right"%> 
    <%= link_to "#{I18n.t 'actions.back'}", promotions_path, class:"btn btn-secondary" %>
  </div>
</div>