<script src="https://igorescobar.github.io/jQuery-Mask-Plugin/js/jquery.mask.min.js"></script>

<%= form_with(model: product,class:"row g-3") do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-12">
    <%= form.label :description, class:"form-label" %>
    <%= form.text_field :description,class:"form-control",placeholder: "#{I18n.t 'activerecord.attributes.product.description_field'}" %>
  </div>
  <div class="col-md-6" style="display:flex;justify-content: space-between;"> 
    <div style="width:49%">
      <%= form.label :stock , class:"form-label"%>
      <%= form.number_field :stock ,class:"form-control", placeholder:"1,2,3...99,100"  %>
    </div>
    <div style="width:49%">
      <%= form.label :price , class:"form-label"  %>
      <%= form.number_field :price ,class:"form-control", placeholder:"R$ 0.00",step:"any" %> 
    </div>
  </div>
  <div class="col-md-6"> 
    <%= form.label :cod_bars , class:"form-label"  %>  
    <%= form.number_field :cod_bars, class:"form-control",placeholder: "#{I18n.t 'activerecord.attributes.product.cod_bars_field'}" %> 
  </div>
  <div class="col-md-4"> 
    <%= form.label :promotion_id , class:"form-label"  %>   
    <%= form.collection_select :promotion_id, @promotions, :id, :name, class:"form-select",prompt: "#{I18n.t 'activerecord.attributes.product.promotion_id_field'}"%>
  </div> 
  <div class="mb-3">
    <%= form.label :image_prod , class:"form-label"  %>
    <%= form.file_field :image_prod, class:"form-control", type:"file" %>
  </div>
  <div class="col-12">
    <div class="form-check">
    <%= form.label :active , class:"form-check-label"  %> 
      <%= form.check_box  :active, class:"form-check-input" %>
    </div>
  </div>
  <div class="col-12" style="margin-bottom: 13px;"> 
    <%= form.submit class:"btn btn-primary", style:"float:right"%>
    <%= link_to "#{I18n.t 'actions.back'}", products_path, class:"btn btn-secondary"%>
  </div> 

<% end %> 

<script>
  document.querySelector('#product_promotion_id').classList.add("form-select");  
</script>