<nav class="navbar navbar-light bg-light">
    <div class="container-fluid"> 
        <%= link_to "Stock's", root_path, class:"title" %>
    </div>
</nav>
<div class="container">
  <h1><%= I18n.t 'activerecord.models.product.other'%></h1>
  <table class="table">
    <thead>
      <tr>
          <th scope="col">#</th>
          <th scope="col"><%= I18n.t 'activerecord.models.product.one'%></th>
          <th scope="col"><%= I18n.t 'activerecord.attributes.product.amount'%></th>
          <th scope="col" style="text-align:right"><%= I18n.t 'activerecord.attributes.product.status'%></th> 
          <th scope="col" style="text-align:right"><%= I18n.t 'activerecord.attributes.product.active?'%></th>
          <th scope="col" colspan="3" style="text-align:center"><%= I18n.t 'actions.actions'%></th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <th scope="row"><%= product.id %></th>
          <td><%= product.description %></td>
          <td><%= product.stock %></td>
          <td style="text-align:right">
            <% if product.stock > 0 %>  
              <span class="badge bg-success"><%= I18n.t 'activerecord.attributes.product.sale'%></span>
            <% else%>
              <span class="badge bg-danger"><%= I18n.t 'activerecord.attributes.product.sold'%></span>
            <% end %>
          </td> 
          <td style="text-align:right"><input class="form-check-input" type="checkbox" id="gridCheck" <%= 'checked' if product.active == true %> style="pointer-events:none;margin-right: 16px;"></td>
          <td style="text-align:center"><%= link_to product do %><i class="fas fa-eye view-icon"></i><% end %></td>
          <td style="text-align:center"><%= link_to edit_product_path(product) do %><i class="fas fa-pencil-alt edit-icon"></i><% end %></td>
          <td style="text-align:center"><%= link_to product, method: :delete, data: { confirm: 'Are you sure?' } do%><i class="fas fa-trash-alt trash-icon"></i><%end%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <div class="nav-btns"> 
    <div class="container">
      <%= link_to stocks_path, class:"btn-l" do %>
        <button type="button" class="btn btn-info "><%= I18n.t 'actions.home'%></button>
      <% end %> 
      <%= link_to new_product_path, class:"btn-r" do %>
        <button type="button" class="btn btn-primary"><%= I18n.t 'actions.new'%> <%= I18n.t 'activerecord.models.product.one'%></button>
      <% end %>
    </div>
  </div> 
</div>