<nav class="navbar navbar-light bg-light">
    <div class="container-fluid"> 
        <%= link_to "Stock's", root_path, class:"title" %>
    </div>
</nav>
<div class="container"> 
    <h1>Show Product</h1> 
  <div class="col-12" style="text-align: center;font-size: 20px;margin-bottom: 45px;"> 
    <div class="div_image">
      <% if @product.image_prod.attached?  %>
        <%= image_tag @product.image_prod, size:"100x100" %>
      <% else %> 
        <i class="fas fa-shopping-cart" style="font-size: 54px;padding: 22px;"></i>
      <% end %>
    </div>
    <br> 
    <b><%= @product.description %><b>
  </div>  
  <br>
  <div class="col-12" style="display:flex;justify-content: space-between;">
    <div style="width:49%">
      <label class="form-label">Stock</label>
      <input class="form-control" placeholder="<%= @product.stock %>"  readonly="readonly" >
    </div>
    <div style="width:49%">
      <label class="form-label">Price</label>
      <input class="form-control" placeholder="<%= @product.price %>"  readonly="readonly" >
    </div> 
  </div>   
  <br>
  <div class="col-12">
    <label class="form-label">Bars Code</label>
    <input class="form-control" placeholder="<%= @product.cod_bars %>"  readonly="readonly" >
  </div>  
  <br>
  <div class="col-12">
    <label class="form-label">Promotion</label>
    <% if @promotion%>
      <input class="form-control" placeholder="<%= @promotion.name %>"  readonly="readonly" >
    <% else %> 
      <input class="form-control" placeholder="Promotion Has Expired"  readonly="readonly" >
    <% end %>
  </div>  
  <br>
  <div class="col-12">
    <div class="form-check">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck" <%= 'checked' if @product.active == true %> style="pointer-events:none">
        <label class="form-check-label" for="gridCheck">
          product Active?
        </label>
      </div>
    </div>
  </div>  
  <br><br>
  <div class="nav-btns">
    <div class="container">
      <%= link_to 'Edit', edit_product_path(@product), class:"btn btn-primary btn-r"%> 
      <%= link_to 'Back', products_path, class:"btn btn-secondary btn-l" %>
    </div>
  </div>
</div>
<style> 
.div_image{
  background: #ffffff;
  text-align: center;
  width: 147px;
  height: 147px;
  border: 1px solid #e4e4e4;
  margin: auto;
  border-radius: 50%;
  padding-top: 22px;
  box-shadow: 0px 3px 8px #dadada;
}
</style>